.calc{
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    height: 100vh;
    
}

img{
    width: 20%;
    height: 15%;
    align-items: center;
}

.texto{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    padding: 5px;
}

/* .botao{
    
} */

.resultado{
    font-style: italic;

}